@import "tailwindcss";
/* @plugin "daisyui"; */
@plugin "daisyui" {
  themes: winter --default, dracula --prefersdark, cupcake;
}
@layer components {
  .align-element {
    @apply mx-auto max-w-6xl px-8;
  }
}
